<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qinglan.sdk.android.platform.yxf">

    <application>
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.LoginPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.LoginQuickActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.LoginQuickResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetChoseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdChooseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdEmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.LoginYxfSeleAccActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.LoginGameSeleAccActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <!--权限管理-->
        <activity
            android:name="com.game.sdk.ui.mainUI.PermissonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.FloatWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.game.sdk.ui.mainUI.GetInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />


        <service android:name="com.game.sdk.SDKAppService">
            <intent-filter android:priority="1000">
                <action android:name="SDKService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="qinglanGameApplicationId"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <!--  元数据    -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yxf_file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>
</manifest>
